{% set node_classes = node_classes|default([])|merge([
  'node',
  'node--full',
  node.bundle ? 'node--' ~ node.bundle|clean_class : '',
  node_is_front ? 'node--is-front' : '',
]) %}

{% if not node.isPublished() %}
  {% set attributes = attributes.setAttribute('data-unpublished', 'node') %}
{% endif %}

{{ attach_library('s360_base_theme/node.full') }}

<article{{ attributes.addClass(node_classes) }}>
  <header class="node__header" data-js="node-header">
    {% block node_header %}
      <h1 class="node__heading">
        {% block node_heading %}
          {% if node_field_label %}
            {{ node_field_label }}
          {% else %}
            {{ label }}
          {% endif %}
        {% endblock %}
      </h1>
    {% endblock %}
  </header>

  <div class="node__content">
    {% block node_content %}
      {{ content }}
    {% endblock %}
  </div>

  {% if node_has_aside %}
    <aside class="node__aside">
      {% block node_aside_content %}
        {{ node_aside_content }}
      {% endblock %}
    </aside>
  {% endif %}
</article>
