{% set node_teaser_hide_header = node_teaser_show_header|default('false') %}
{% set node_teaser_url = node_teaser_url|default(path('entity.node.canonical', { 'node': node.id })) %}
{% set node_teaser_heading_size = node_teaser_heading_size|default('h1') %}

{%
  set classes = [
    'node-teaser',
    'node-teaser--' ~ node.bundle|clean_class,
    'node-' ~ view_mode|replace({ 'teaser_': 'teaser--' })|clean_class,
    not node.isPublished() ? 'node-teaser--unpublished',
    is_front ? 'node-teaser--is-front'
  ]
%}
<teaser{{ attributes.addClass(classes) }}>
  <header class="node-teaser__header {{ node_teaser_hide_header ? 'visually-hidden' }}">
    {% block node_teaser_header %}
      <{{- node_teaser_heading_size -}} class="node-teaser__heading">
        {% block node_teaser_heading %}
          {{- drupal_link(label, node_teaser_url) -}}
        {% endblock %}
      </{{- node_teaser_heading_size -}}>
    {% endblock %}
  </header>

  <div class="node-teaser__content">
    {% block node_teaser_content %}
      {{ node_teaser_content }}
    {% endblock %}
  </div>

  <div class="node-teaser__image">
    {% block node_teaser_image %}
      {{ node_teaser_image }}
    {% endblock %}
  </div>
</teaser>
