{% if view_title %}
  <h2 class="view__heading">{{ view_title }}</h2>
{% endif %}

{% if view_alignment == 'horizontal' %}
  {% for row in view_items %}
    {% for column in row.content %}
      <div{{ column.attributes }}>
        {{- column.content -}}
      </div>
    {% endfor %}
  {% endfor %}
{% else %}
  {% for column in view_items %}
    {% for row in column.content %}
      <div{{ row.attributes }}>
        {{- row.content -}}
      </div>
    {% endfor %}
  {% endfor %}
{% endif %}
