{% set classes = [
  {{#each componentClasses}}
  '{{ this }}',
  {{/each}}
] %}
{% set attributes = attributes|default(create_attribute({})) %}
{% set attributes = attributes.setAttribute('class', classes) %}

{{#if drupalBlockName}}
{% extends "{{ drupalTwigTemplate }}" %}

{% block {{ drupalBlockName }} %}
  \{{ content }}
{% endblock %}
{{else}}
<div\{{ attributes }}>

</div>
{{/if}}
